@import 'reset.css';
@import 'typo.css';
@import 'layout.css';
@import 'main.css';





body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3{
  font-family: 'Poppins', sans-serif!important;
}


button {
  background-color: green; /* Green */
  border: 2px solid rgba(77, 175, 124, 0);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
}

button:hover{
  background-color: white;
  border: 2px solid rgba(77, 175, 124, 1);
  color : rgba(77, 175, 124, 1)
}

a:hover{
  color: rgba(77, 175, 124, 1);
}


header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boutons{
  background-color: #4FAC80; /* bleu */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.boutons:hover{
  background-color: #FFFFFF;
  color: #4FAC80;
  transition: all 0.45s ease;
  border: 2px solid #4FAC80;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li{
  margin-right: 2em;
}

.logo{
  width: 8em;
  margin: 14px;
}

h1{
  color: white;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.hero{
  background-image: url("../images/accueil.jpg");
  background-attachment: scroll;
  background-position: center;
  height: 500px;
  text-align: center;
  color: white;
}


.hero_gorille{
  background-image: url("../images/jungle2.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  text-align: center;
  color: white;
  background-size: cover;
  display:flex;
  align-items: center;
  margin-bottom: 80px;
}

.hero-texte{
  background-color: rgba(0, 0, 0, 0.5);
  border: solid white 1px;
  border-radius: 5px;
  max-width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.intro{
  margin: 0 50px;
  column-count: 3;
  column-gap: 30px;
}

.intro p{
  margin: 0;
}

.intro h2{
  column-span: all;
}

/************* paragraphe *********************/
.paragraphe h2{
  text-align: center;
}

.introduction .paragraphe{
  width: 40%;
  min-width: 300px;
}

.introduction .paragraphe img{
  width: 100%;
}

.paragraphe{
  margin:10px;
}

.introduction{
  margin:40px;
}

figure img{
  width: auto;
  height:180px;
}

figure h3{
  text-align: center;
}

figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 40px;
}

@media only screen and (max-width: 800px) {
   .intro{
    column-count: 2;
    column-gap: 30px;
   }
}

@media only screen and (max-width: 800px) {
  .intro{
   column-count: 1;
   column-gap: 10px;
  }
}

.flex_wrap img{
transition: all 0.45s ease;

}
.flex_wrap img:hover{
 transform: skew(20deg);
transition: all 0.45s ease;

}
  

.grid_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

@media (max-width:800px){
  .grid_container {
    display: grid;
    grid-template-columns: 100%;
  }
}

.txt_intro{
  margin: auto;
  display: block;
  padding: 0 50px;
}

.txt_intro h2{
  margin-top: 0;
}

.contenu{
  margin-top: 5em;
  margin-bottom: 4em;
}

.gorille-détail{
  max-width: 80%;
  padding-bottom: 5%;

}

.go{
  width: 100%;
}

.go img{
  width: 100%;
  min-width: 100%;
  padding-bottom: 0;
}

footer{
  background-color: #b5b6bd;
  height:100px;
  padding: 20px 50px;
}

footer ul li:not(:nth-child(4)){
  padding-top: 30px;
}

/**************** burger menu ******************/
.burger_menu{
        display: none;
    }
    .menu-toggle .burger-breads span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background-color: black;
        z-index: 1;
      }
      .menu-close .burger-breads span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: black;
        z-index: 1;
        transform:rotate(45deg) translate(-2px, -1px);
        background: black;
      }
      .menu-close .burger-breads span:nth-child(2){
        transform: rotate(135deg) translate(-6px, 9px);
      }
      .menu-close .burger-breads span:nth-child(3){
        opacity: 0;
      }
      /*Style menu*/
      .main-menu {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease, box-shadow 0.3s ease;
        z-index: 999;
      }
      .main-menu ul {
        margin: 0;
        padding: 2.5em 0 0;
        min-height: 100%;
        width: 200%;
        background: rgb(41, 46, 56)
      }
      .main-menu a{
        display: block;
        padding: .75em 15px;
        /* line-height: 1em; */
        font-size: 1em;
        font-weight: lighter;
        color: #ffff;
        text-decoration: none;
      }
      .main-menu li:first-child a{
        border-top: 1px solid rgb(127, 140, 167);
      }
      .main-menu a:hover, .main-menu a:focus{
        background: #333;
        text-decoration: underline;
      }
      .main-menu .menu-close{
        position: absolute;
        margin-top: 1em;
        right: 0;
      }
      /*Hiding Menu*/
      .main-menu{
        display: none;
        right: -200px;
      }

      .main-menu:target{
        display: block;
        right: 0;
        outline: none;
        box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
    }
    .main-menu:target .menu-close{
        z-index: 1001;
        padding-bottom: 1px;
    }
    .main-menu:target ul{
        position: relative;
        z-index: 1000;
    }
    .main-menu:target + .backdrop{
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        cursor: default;
    }
    @supports (position: fixed){
        .main-menu,
        .main-menu:target + .backdrop{
            position: fixed;
        }
    }

@media (max-width: 640px) {
    .burger_menu{
      display: block;
    }
    .nav-desktop{
      display: none;
    }
}




  @media (min-width: 481px) and (max-width: 767px){
    body{
      background-color: green;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px){
    body{
      background-color: yellow;
    }
  }
  @media (min-width: 1025px) and (max-width: 1080px){
    body{
      background-color: black;
      color: #fff;
    }
  }
